{% extends '../blog/base.html' %}
{% block menu %}
          <li><a id="selected" href="{% url 'blog:index' %}">home</a></li>
          <li><a href="{% url 'blog:article_add'%}">add</a></li>
          <li><a href="#">detail</a></li>
          <li><a href="#">edit</a></li>
          <li><a href="{% url 'register' %}">register</a></li>
          <li></li>
{% endblock %}

{% block content %}
        <h1>Login</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
              <input type="hidden" name="next" value="{% url 'blog:index' %}" />
          </form>
{% endblock %}


