{% extends 'blog/base.html' %}
{% block menu %}
    <li><a href="{% url 'blog:index'%}">home</a></li>
    <li><a id="selected" href="{% url 'blog:article_add'%}">add</a></li>
    <li><a href="#">detail</a></li>
    <li><a href="#">edit</a></li>
    <li><a href="{% url 'register' %}">register</a></li>
    <li></li>
{% endblock %}

{% block content %}
        <h1>New Article</h1>
            <form action="{% url 'blog:article_save' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <span class="formlabel">author</span>
                    <span class="forminput"><input type="text" name="author" value="{{ request.session.user_name }}" disabled></span>
                </div>
                <div class="row">
                    <span class="formlabel">title</span>
                    <span class="forminput"><input type="text" name="title"></span>
                </div>
                <div class="row">
                    <span class="formlabel">content</span>
                    <span class="forminput"><textarea type="text" id="editor1" name="content" placeholder="Enter your content here..." rows="22"></textarea></span>
                </div>
                <div class="row">
                    <span class="formlabel"></span>
                    <span class="forminput"><input type="submit" value="submit" class="submit"></span>
                </div>
            </form>
{% endblock %}
