{% extends 'blog/base.html' %}
{% block menu %}
    <li><a href="{% url 'blog:index'%}">home</a></li>
    <li><a href="{% url 'blog:article_add'%}">add</a></li>
    <li><a id="selected" href="#">detail</a></li>
    <li><a href="#">edit</a></li>
    <li><a href="{% url 'register' %}">register</a></li>
    <li></li>
{% endblock %}

{% block content %}
        {% if article %}
        <h1>{{ article.title }}</h1>{{ article.author }}
        <div style="float:right">
            <a href="{% url 'blog:article_edit' article.id %}"><b>edit</b></a> |<a href="javascript:;" onclick='document.getElementById("delete_article").submit();'><b>delete</b></a>
            <form id="delete_article" action="{% url 'blog:article_delete' article.id %}" method="post">{% csrf_token %}<input type="hidden" name="mess" value="delete"></form>
        </div>
        <p>{{ article.content|safe }}</p>
        <h1>message</h1>
            {% for message in article.message_set.all %}
        <h2>{{ message.title }}  -  {{ message.author }}</h2>
        <p>{{ message.created_at |date:'Y-m-d H:i' }}</br>
                {{ message.content }}</p> </br>
            {% endfor %}
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        <h1>new message</h1>
        <form action="{% url 'blog:message_save' article.id %}" method="post">
            {% csrf_token %}
                 <div class="row">
                    <span class="formlabel">author</span>
                    <span class="forminput"><input type="text" name="author" value="{{ request.session.user_name }}" disabled></span>
                </div>
                <div class="row">
                    <span class="formlabel">title</span>
                    <span class="forminput"><input type="text" name="title"></span>
                </div>
                <div class="row">
                    <span class="formlabel">content</span>
                    <span class="forminput"><textarea type="text" name="content" placeholder="Enter your content here..." rows="5"></textarea></span>
                </div>
                <div class="row">
                    <span class="formlabel"></span>
                    <span class="forminput"><input type="submit" value="submit" class="submit"></span>
                </div>
        </form>
{% endblock %}



